<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link href="./styles/styles.css" rel="stylesheet">
    <link href="./styles/signup-login.css" rel="stylesheet">
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 brand-name">
                <br>
                <i class="fas fa-meteor"></i>
                <span class="name-title">meme<b>battles</b></span>
                <br>
                <p class="lead">that's one small step for memes,<br><b><i> and one giant step for memekind.</i></b></p>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>LOGIN</h2>
                        <form class="login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email-input" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password-input" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                        <br />
                        <p>Or sign up <a href="/signup">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/login.js"></script>

</body>

</html>