<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/manager.css">
    <link rel="stylesheet" href="../styles/nav.css">
</head>

<body>
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-dark justify-content-center ">
            <a class="navbar-brand" href="/manager">
                <i class="fas fa-meteor"></i>
                <span class="name-title">meme<b>manager</b></span>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark meme-nav">
        <button class="navbar-toggler justify-content-center" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item dropdown meme-nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false"><b class="meme-email">{{user.email}}</b><span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">Logout<span class="sr-only">(current)</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active meme-nav-item" href="/manager"><span class="sr-only">(current)</span>meme<b>Create</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active meme-nav-item" href="/manager-buttons"><span class="sr-only">(current)</span>mining<b>Buttons</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card add-meme-card">
                    <div class="card-body">
                        <form id="form" role="form" data-toggle="validator">
                            <div class="form-row">
                                <label for="validationDefault01"><strong>Name</strong> </label>
                                <input type="text" class="form-control name" id="validationDefault01" placeholder="Doge"
                                    required>
                                <label for="validationDefault02"><strong>Link to Meme</strong></label>
                                <input type="text" class="form-control link" id="validationDefault02" placeholder="Http://"
                                    required>
                                <label for="validationDefault02"><strong>Power Level (1-10)</strong></label>
                                <input type="text" class="form-control lvl" id="validationDefault02" placeholder="1-10"
                                    required>
                                <label for="validationDefault02"><strong>Armor Class</strong></label>
                                <input type="text" class="form-control ac" id="validationDefault02" placeholder="1"
                                    required>
                                <label for="validationDefault02"><strong>Attack Power</strong></label>
                                <input type="text" class="form-control attack-power" id="validationDefault02"
                                    placeholder="50" required>
                                <label for="validationDefault04"><strong>Health Points</strong></label>
                                <input type="text" class="form-control health-points" id="validationDefault04"
                                    placeholder="100" required>
                                <label for="validationDefault05"><strong>Cost</strong></label>
                                <input type="text" class="form-control cost" id="validationDefault05" placeholder="500"
                                    required>
                                <label for="validationDefault06"><strong>Dice Value</strong></label>
                                <input type="text" class="form-control dice-value" id="validationDefault06" placeholder="1"
                                    required>
                            </div>
                            <div class="container text-center">
                                <button id="submit" class="btn btn-outline-light text-center" type="submit">+ <b>meme</b></button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>

    <script src="../js/manager.js"></script>
</body>

</html>