<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/manager.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Manager Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div>
                    <a class="nav-item nav-link active" href="#">{{user.email}}<span class="sr-only">(current)</span></a>
                </div>
                <div>
                    <a class="nav-item nav-link active" href="/manager-buttons"><span class="sr-only">(current)</span>Upgrade
                        Click
                        Buttons</a>
                </div>

                <a class="nav-item nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </div>
    </nav>
    <div class="container">
        <form id="form" role="form" data-toggle="validator">
            <div class="form-row">
                <div class="col-md-12">
                    <label for="validationDefault01"><strong>Name</strong> </label>
                    <input type="text" class="form-control name" id="validationDefault01" placeholder="Doge" required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault02"><strong>Link to Meme</strong></label>
                    <input type="text" class="form-control link" id="validationDefault02" placeholder="Http://"
                        required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault02"><strong>Power Level (1-10)</strong></label>
                    <input type="text" class="form-control lvl" id="validationDefault02" placeholder="1-10" required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault02"><strong>Armor Class</strong></label>
                    <input type="text" class="form-control ac" id="validationDefault02" placeholder="1" required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault02"><strong>Attack Power</strong></label>
                    <input type="text" class="form-control attack-power" id="validationDefault02" placeholder="50"
                        required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault04"><strong>Health Points</strong></label>
                    <input type="text" class="form-control health-points" id="validationDefault04" placeholder="100"
                        required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault05"><strong>Cost</strong></label>
                    <input type="text" class="form-control cost" id="validationDefault05" placeholder="500" required>
                </div>
                <div class="col-md-12">
                    <label for="validationDefault06"><strong>Dice Value</strong></label>
                    <input type="text" class="form-control dice-value" id="validationDefault06" placeholder="1"
                        required>
                </div>


                <button id="submit" class="btn btn-primary" type="submit">Submit form</button>

        </form>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>

    <script src="../js/manager.js"></script>
</body>

</html>