.name-title {
    font-size: 75px;
    color:rgb(172, 171, 171);

}

.selectCard {
    width: 100%;
    height: 575px;
    color: whitesmoke;
    background-color: #f0933c;
    padding: 30px;
    margin: 0px 0px 50px 0px;
    -webkit-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
}

.select-enemy-Card {
    width: 100%;
    height: 575px;
    color: whitesmoke;
    background-color: rgb(158, 32, 32);
    padding: 30px;
    margin: 0px 0px 50px 0px;
    -webkit-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
}

h3 {
    color:rgb(172, 171, 171);
}

img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    -webkit-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
}

ul{
    list-style: none;

}

.meme-deets {
    margin: 0px;
}

body{
    background-color: rgb(59, 58, 58);
}

/* .defendSelect, .fighterSelect {
    background-color: #30afc5;
    border-color: #f0933c;
} */

/* BATTLE IMG */
.enemy-battle-img,
.user-battle-img {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
    -webkit-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
}

/* BATTLE BUTTON */
#attackButton {
    font-size: 50px;
}

.battle-fist {
    color: #f0933c;
}

/* BATTLE CARDS */
.en-img-card {
    background-color: rgb(158, 32, 32);
    -webkit-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
}

.us-img-card {
    background-color: #f0933c;
    -webkit-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
}

.card-title {
    font-size: 30px;
}

.enemy-stats-card,
.user-stats-card {
    border: none;
    height: 100%;
    padding: 10px;
    background-color: rgb(59, 58, 58);
    color: whitesmoke;
}

.enemy-stats-card {
    float: right;
}

.user-stats-card {
    float: left;
}

.us-shady {
    text-shadow: 0px 0px 20px #f0933c;
    font-size: 20px;
}

.en-shady {
    text-shadow: 0px 0px 20px rgb(158, 32, 32);;
    font-size: 20px;
}

/* BATTLE ROWS */
.enemy-row {
    margin: 10px;
}

.attack-btn-row {
    margin: 20px;
}

.user-row {
    margin: 10px;
}