/* #get-points:active{
  background-color: rgb(59, 58, 58);
} */

h1 {
  color: #f0933c;;
}

.meme-mtn {
  background-color: white;
  margin: 30px;
  border: none;
  -webkit-clip-path: polygon(50% 0%, 5% 95%, 95% 95%);
  clip-path: polygon(50% 0%, 5% 95%, 95% 95%);
}

.fa-mountain {
  font-size: 300px;
  color: #30afc5;
}

.card {
  margin: 30px 20px 200px 20px;
}