.meme-link{
    height: 200px;
    width: 200px;
}

body {
    background-color: rgb(59, 58, 58);
}

.fa-meteor {
    color: #f0933c;
    text-shadow: 3px -2px 7px #30afc5;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    font-size: 60px;
}

.name-title {
    font-size: 75px;
    color:rgb(172, 171, 171);
}

.card {
    width: 100%;
    height: 570px;
    float: left;
    color: whitesmoke;
    background-color: #30afc5;
    padding: 30px;
    margin: 0px 0px 50px 0px;
    -webkit-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    z-index: 99;
}

p {
    margin: 0;
}

img {
    margin-bottom: 20px;
    -webkit-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 54px -6px rgba(0,0,0,0.75);
}

.buy {
    font-size: 20px;
}

.lead {
    color: rgb(172, 171, 171);
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.fa-dice {
    font-size: 22px;
    margin-top: 5px;
}

.meme-cost {
    color: #29ff82;
    text-shadow: 0px 0px 5px black;
}

.meme-card-tokens {
    margin-top: 3px;
    font-size: 25px;
    color: #f0933c;
    text-shadow: 0px 0px 5px black;
}

.fa-fist-raised,
.fa-shield-alt,
.fa-heart {
    font-size: 20px;
    margin-top: 5px;
}

.meme-stats {
    font-size: 20px;
}

.meme-deets {
    text-shadow: 0px 0px 5px black;
}

.meme-lvl {
    font-size: 15px;
}

.meme-title {
    text-shadow: 0px 0px 7px black;
}


/* LVL FILTER */
.filter-bar {
    margin: 0px 20px 50px 0px;
    color: rgb(172, 171, 171);
}

.filter-lvl {
    margin: 10px 10px 10px 0px;
}

.filter-lvl-button {
    margin: 10px;
    color: #30afc5;
}

.filter-lvl-button-lib {
    margin: 10px;
    color: #f0933c;
}

.battle-dropdown {
    background-color: #f0933c;
}