.card {
    color: whitesmoke;
    background-color: rgb(89, 73, 158);
    margin: 0px 15px 15px 15px;
    -webkit-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
}

.topdog {
    z-index: 99;
}

.list-group,
.list-group-item {
    /* background-color: rgb(114, 114, 114); */
    background-color: rgb(89, 73, 158);
}

.card-link {
    color: #f0933c;
}

.profile-content {
    margin-bottom: 50px;
}

.lead {
    color: rgb(172, 171, 171);
    font-size: 25px;
    margin: 0;
    margin-top: 70px;
}

.battle-dropdown {
    background-color: #f0933c;
}

.add-avatar {
    margin: 20px 5px 10px 5px;
}

.meme-avatar-btn {
    margin: 10px 5px 25px 5px;
}

.form-control {
    width: 95%;
    margin: 8px;
}