.list-group-item {
  line-height: 2.5;
}

h2 {
    color: whitesmoke;
    font-family: "ChakraPetch-Bold"
}

.brand-name {
    color:rgb(172, 171, 171);
    font-size: 60px;
    margin-top: 12%;
    padding: 20px;
}

.fa-meteor {
    color: #f0933c;
    text-shadow: 3px -2px 7px #30afc5;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.name-title {
    font-size: 65px;
    font-family: "ChakraPetch-Light";
}

.font-bold {
    font-family: "ChakraPetch-Bold";
}

.font-light {
    font-family: "ChakraPetch-Light";
    text-decoration: none;
}

.lead {
    float: right;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
}

.sign-up-title {
    text-shadow: 0px 1px 7px #353b3b;
}

.here-link {
    color: #f0933c;
    transition: .3s;
    font-family: "ChakraPetch-SemiBold";
}

.here-link:hover {
    color: #29ff82;
    text-decoration: none;
}

.card {
    width: 70%;
    color: whitesmoke;
    background-color: #30afc5;
    padding: 30px;
    margin: 15%;
    margin-top: 23%;
    border-radius: 150px 3px 150px 3px;
    -moz-border-radius: 150px 3px 150px 3px;
    -webkit-border-radius: 150px 3px 150px 3px;
    -webkit-box-shadow: -12px 14px 28px 0px rgba(26,26,26,1);
    -moz-box-shadow: -12px 14px 28px 0px rgba(26,26,26,1);
    box-shadow: -12px 14px 28px 0px rgba(26,26,26,1);
}