.list-group-item {
  line-height: 2.5;
}

body {
    background-color: rgb(59, 58, 58);
}

h2 {
    color: whitesmoke;
}

.brand-name {
    color:rgb(172, 171, 171);
    font-size: 60px;
    margin-top: 12%;
    padding: 20px;
}

.name-title {
    font-size: 75px;
}

.lead {
    float: right;
    padding: 0px 20px 0px 20px;
}

.card {
    width: 70%;
    color: whitesmoke;
    background-color: #30afc5;
    padding: 30px;
    margin: 15%;
    margin-top: 25%;
    border-radius: 150px 3px 150px 3px;
    -moz-border-radius: 150px 3px 150px 3px;
    -webkit-border-radius: 150px 3px 150px 3px;
    -webkit-box-shadow: -12px 14px 28px 0px rgba(26,26,26,1);
    -moz-box-shadow: -12px 14px 28px 0px rgba(26,26,26,1);
    box-shadow: -12px 14px 28px 0px rgba(26,26,26,1);
}